.babylongrid-containers .post {
	border-radius: 7px;
	position: relative;
	box-shadow: 0 4px 58px 0 rgba(0, 0, 0, 0.7), 0 6px 70px 0 rgba(0, 0, 0, 0.15);
}
.babylongrid-containers .post .category {
	margin-top: 0px;
	padding: 3px 8px;
	color: white;
	background: black;
	display: inline-block;
	border-radius: 2px;
	position: absolute;
	left: 5px;
	top: 3px;
	z-index: 3;
	border-radius: 10px;
	font-weight: 100;
	font-family: fantasy;
}
.babylongrid-containers .post .category:hover {
		margin-top: 0px;
	padding: 3px 8px;
	color: black;
	background: white;
	display: inline-block;
	border-radius: 2px;
	position: absolute;
	left: 5px; top: 5px;
	z-index: 3;
	border-radius: 10px;
	font-weight: bolder;
	font-family: fantasy;
	transition: .4s;
	opacity: 0.8;
}